body {
    font-family: arial;
	margin: 0px;
}

#container {
    margin: 0 auto;
    width: 100%; 
}

#header {
	list-style-type: none;
	float: left;
    width: 100%;
	background-color: #0c0c0c;
	margin-top: 0;
}

#header a {
	text-decoration:none;
	color:#00FFCC;
	padding-left: 1cm;
	
}


/*1st level*/
#menu ul{
	padding: 0;
	margin: 0;	
	list-style-type: none;
	width: 100%;
	float: left;
    background-color: #0c0c0c;		
}

/*1st level items*/
#menu ul li {
	position: relative;
	float: left;
	text-align: center;
	padding: 10px 20px;
	line-height: 1;
	cursor: pointer;
	white-space: nowrap;
}

/*Lists which can be clicked*/
#menu li a {
    color: #FFFFFF;
	text-decoration:none;
	font-weight:bold;
}

/*2nd level list*/
#menu ul ul {
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    list-style: none;
	width: 100%;
	
}

/*2nd items*/
#menu ul li ul li {
    position: relative;
	padding: 10px 20px ;
	text-align: left;
	display: block;
	width: 100%;
}

/*3rd level list*/
#menu ul ul ul{
    display: none;
    position:absolute;
    top: 0;
    left: 70%;
	width: auto; /*This determines the width of each item in the 3rd level*/
    list-style: none;
}

/*3rd level items*/
#menu ul li ul li ul li{
    position: relative;
	text-align: left;
	display: block;
/* Changing "width" property here doesn't affect the width of each item*/
}


/*When the 1st level items are hovered, the 2nd livel list is shown*/
#menu ul li:hover >ul  {
    display: block;
    
}

/*Hovered itemes will be in a different collor*/
#menu ul li a:hover{
    color: #00FFCC; 	
}


/*When the 2nd level items are hovered, the 3rd livel list is shown*/
#menu ul li ul li:hover >ul li{
	display: block;
}


#content {
	clear: left;
	float: left;
	width: 65%;
	padding: 20px 0;
	margin: 0 0 0 5%;
	display: inline;
}

#footer {
	clear: left;
	background-color: #CCCCCC;
	text-align: center;
	padding: 20px;
	height: 1%;
}