body{
	font-family: arial;
	font-size: 100%;
	
}

.boldText{
	font-weight: bold;
}

.inputNewPatternName{
	width: 100px;
	height:50px;
	
}

.inputNewDescription{
	width: 800px;
	height: 200px;
	
}

#header {
	margin-top: 0;
    background-color: #abacab;
    padding: 5px; 
} 

.inputNewItems{
	width: 650px;
	height:150px;
	
}